<%# displays the facet title as a header
     followed by the first 10 facet values as clickable links;
      or a remove button if link is already selected %>
<%# Select first 10 or all filters%>
<% max_display = 10 %>
<% facet_field = facet.field_name.to_s %>
<% facet_rows = facet.rows.reject { |f| f.value.to_s.blank? || f.count < 1 } %>

<% if facet_rows.any? %>
  <div class="tess-facet">
    <div class="tess-facet-title"><%= (facet_field == 'user') ? 'Owner' : facet_field.humanize.singularize %></div>
    <ul>
      <%# Display all filter links %>
      <% facet_rows.each_with_index do |facet, index| %>
        <%# if there's a facet already selected %>
        <% if @facet_params.include?(facet_field) && Array.wrap(@facet_params[facet_field]).include?(facet.value.to_s) %>
          <%= content_tag(:li, class: index >= max_display ? 'hidden' : '') do %>
            <%= remove_filter_link(facet_field, facet.value.to_s, class: 'tess-facet-row active') %>
          <% end %>
        <% else %>
          <%= content_tag(:li, class: index >= max_display ? 'hidden' : '') do %>
            <%= filter_link(facet_field, facet.value.to_s, facet.count, nil, class: 'tess-facet-row') %>
          <% end %>
        <% end %>
      <% end %>

      <%# Display 'show/hide facet' link %>
      <% unless resources.facet(facet_field).rows.count <= max_display %>
        <li class="nav-item" style="padding: 10px 7px 10px 7px;"
            onClick="toggleFacets('<%= facet_field -%>')">
          <%= toggle_hidden_facet_link(facet_field) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
