<div class="wrapper">
  <% if TeSS::Config.solr_enabled %>
      <div id="sidebar" class="popout-sidebar">
        <%= render partial: "search/common/facet_sidebar", locals: {resources: @workflows_results, resource_type: Workflow} %>
      </div>
  <% end %>

  <div id="content">
    <div class="row">
      <% if policy(:workflow).create? %>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-plus-square"></i> Create Workflow <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to new_concept_map_path do %>
                Concept Map
              <% end %>
            </li>
            <li>
              <%= link_to new_educational_resource_path do %>
                Educational Resource
              <% end %>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to new_workflow_path do %>
                Legacy Workflow
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
      <div class="pull-right">
        <%= info_button('What are workflows in TeSS?') do %>
            <%= render_markdown(WorkflowsHelper::WORKFLOWS_INFO) %>
        <% end %>
      </div>
    </div>

    <% if false && TeSS::Config.solr_enabled %>
        <div class="row">
          <%= render partial: "search/common/search_box", locals: {resource_path: workflows_path} %>
          <button class="btn btn-default" id="sidebar-toggle" type="button" autocomplete="off">
            <i class="fa fa-filter"></i> Filters
          </button>
          <%= render partial: "search/common/search_info", locals: {resources: @workflows_results, resource_type: 'workflow'} %>
          <%= render partial: "search/common/search_filters", locals: {resources: @workflows_results} %>
        </div>
    <% end %>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @workflows } %>

    <hr>

    <%= render partial: 'common/masonry_grid', locals: { objects: @workflows, partial: 'workflows/workflow' } %>

    <%= render partial: "search/common/pagination_bar", locals: { resources: @workflows } %>
  </div>
</div>
