<div class="row">
  <div class="page-header">
    <%= render partial: 'events/partials/icon_info', locals: { event: event } %>
    <h2>
      <% if event.has_node? -%>
        <%= image_tag 'elixir_logo_orange.png',
                      :alt => 'Elixir node event',
                      :title => 'Elixir node event',
                      :style => 'height: 40px;' %>
      <% end -%>
      <%= event.title %>
      <%= missing_icon(event, 'large') if current_user and current_user.is_admin? %>
      <%= scrape_status_icon(event, 'large') if current_user and current_user.is_admin? %>
      <%= suggestion_icon(event, 'large') if current_user and current_user.is_admin? -%>
    </h2>
    <p><%= link_to event.url, event.url, :class =>'h5', :target => "_blank" %></p>
  </div>

  <div class="dont-break-out">
    <% if event.show_map? %>
      <div id="map" class="google-map"></div>
      <script type="text/javascript">
          var actualLocation = { lat: <%= event.latitude || 'null' %>, lng: <%= event.longitude || 'null' %> };
          var suggestedLocation = { lat: <%= event.suggested_latitude || 'null' %>, lng: <%= event.suggested_longitude || 'null' %> };

          // Create a map object and specify the DOM element for display.
          var map = new google.maps.Map(document.getElementById('map'), {
              center: suggestedLocation.lat ? suggestedLocation : actualLocation,
              scrollwheel: true,
              zoom: 13
          });

          if (actualLocation.lat) {
              new google.maps.Marker({
                  map: map,
                  position: actualLocation,
                  title: '<%= event.title %>'
              });
          }

          if (suggestedLocation.lat) {
              new google.maps.Marker({
                  map: map,
                  position: suggestedLocation,
                  title: 'Suggested Location',
                  icon: '<%= image_url('suggestion.png') -%>'
              });
          }
      </script>
    <% end %>

    <% if event.organizer and !event.organizer.blank? %>
      <p><strong>Organizer:</strong>
        <%= event.organizer %></p>
    <% end %>

    <% if event.host_institutions.any? %>
      <p><strong>Host institution:</strong>
        <%= event.host_institutions.join(', ') %></p>
    <% end %>

    <% if event.start and !event.start.blank? %>
      <p><strong>Start:</strong>
        <%= event.start.strftime('%A, %d %B %Y @ %H:%M') %></p>
    <% end %>

    <% if event.end and !event.end.blank? %>
      <p><strong>End:</strong>
        <%= event.end.strftime('%A, %d %B %Y @ %H:%M') %></p>
    <% end %>

    <% if event.timezone and !event.timezone.blank? %>
      <p><strong>Timezone:</strong>
        <%= event.timezone %></p>
    <% end %>

    <% if event.sponsors.any? %>
      <p><strong>Sponsors:</strong>
        <%= event.sponsors.join(', ') %></p>
    <% end %>

    <% if event.contact and !event.contact.blank? %>
      <p><strong>Contact:</strong>
        <%= event.contact %></p>
    <% end %>

    <% unless event.online? %>
      <% if event.venue and !event.venue.blank? %>
        <p><strong>Venue:</strong>
          <%= event.venue %></p>
      <% end %>

      <% if event.city and !event.city.blank? %>
        <p><strong>City:</strong>
          <%= event.city %></p>
      <% end %>

      <% if event.county and !event.county.blank? %>
        <p><strong>County:</strong>
          <%= event.county %></p>
      <% end %>

      <% if event.country and !event.country.blank? %>
        <p><strong>Country:</strong>
          <%= event.country %></p>
      <% end %>

      <% if event.postcode and !event.postcode.blank? %>
        <p><strong>Postcode:</strong>
          <%= event.postcode %></p>
      <% end %>
    <% end %>

    <% unless event.scientific_topics.empty? %>
      <p>
        <strong>Scientific topic:</strong>
        <%= event.scientific_topic_names.join(', ')%>
      </p>
    <% end %>

    <% unless event.operations.empty? %>
      <p>
        <strong>Operations:</strong>
        <%= event.operation_names.join(', ')%>
      </p>
    <% end %>

    <% unless event.target_audience.empty? %>
      <strong>Target audience:</strong>
      <ul>
        <% event.target_audience.each do |ta| %>
          <li><%= ta %></li>
        <% end %>
      </ul>
    <% end %>

    <% if event.description and !event.description.blank? %>
      <strong>Description:</strong>
      <div class="text-justify">
        <%= render_markdown event.description %>
      </div>
    <% end %>

    <% if event.event_types.any? %>
      <strong>Event type:</strong>
      <ul>
        <% event.event_types.each do |t| %>
          <li><%= EventTypeDictionary.instance.lookup_value(t, 'title') %></li>
        <% end %>
      </ul>
    <% end %>

    <% if event.capacity and !event.capacity.blank? %>
      <p><strong>Capacity:</strong>
        <%= event.capacity %></p>
    <% end %>

    <% if event.eligibility.any? %>
      <strong>Eligibility:</strong>
      <ul>
        <% event.eligibility.each do |e| %>
          <li><%= EligibilityDictionary.instance.lookup_value(e, 'title') %></li>
        <% end %>
      </ul>
    <% end %>

    <% unless event.keywords.empty? %>
      <p><strong>Keywords:</strong>
        <%= event.keywords.join(', ')%></p>
    <% end %>

    <% if event.materials.any? %>
      <div>
        <b>Related training materials: </b>
        <ul>
          <% event.materials.each do |material| %>
            <li><%= link_to material.title, material %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if event.external_resources.any? %>
      <b>External resources: </b>
      <%= render partial: 'common/external_resources_list', locals: { external_resources: event.external_resources } %>
    <% end %>

    <%= render partial: 'events/partials/event_schemaorg', locals: { event: event } %>
    <%= render partial: 'events/partials/twitter_card', locals: { event: event } %>
    <%= render partial: 'events/report', locals: { event: event } if policy(event).view_report? %>

    <% if policy(event).update? && event.edit_suggestion %>
      <%= render partial: 'common/approve_term_suggestions', locals: { suggestion: event.edit_suggestion } %>
    <% end %>

  </div>
</div>
