<% content_for :pagination do %>
  <%= render 'events/partials/calendar_pager', month: params[:month] || Date.today.strftime('%Y-%m') %>
<% end %>
<div id="calendar">
  <%= yield :pagination %>

  <% @events.group_by { |e| e.start.to_date }.each do |date, events| %>
    <div>
      <h3><%= date.strftime('%A, %-d %B') %></h3>
      <ul>
        <% events.each do |event| %>
          <li><%= link_to event.title, event %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= yield :pagination %>
</div>

